{% extends 'connect_app/base.html' %}
	{% block talk_block %}
	<div class = "jumbotron">
		<h1>Welcome to Connection!!</h1>
		<h3>Here you can talk about anything you like, not just games</h3>
		<h3>Choose from the following options</h3>
		<ol>
			<li>
				Click on Find to search through profiles and find people to connect with
			</li>
			<li>
				Click on the Messages tab to look through your messages or compose new ones
			</li>
			<li>Click on Public to look at recent posts or make your own</li>
		</ol>
	</div>
	{% endblock %}